div.container {
    padding: 30px;
    margin: 30px;
    display: contents;
}

#jumbo{
    text-align: right;
    padding: inherit;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 20px;
    /* padding-right: 20px; */
    margin-bottom: 0px;
    }
    
div#homePageDiv{
        padding: 10px;
        margin: 10px;
    }

    .row {
        justify-content: center;
    }

    #startBtn{
        padding-top: 62px;
    }

    #jumbo{
        width: 915px;
        height: 220px;
    }

    div#cardBody.card-body{
        flex: 1 1 auto;
        min-height: 1px;
        padding: 5px;
    }

    div.card-title.h5{
        margin-bottom: 10px;
        margin-top: 10px;
    }

    