.jumbotron{
text-align: right;
padding:5px;
}

div#aboutDiv{
    padding: 10px;
    margin: 10px;
}

#aboutJumbotron {
    text-align: right;
    padding: inherit;
    padding-top: 50px;
    padding-bottom: 120px;
    padding-left: 20px;
    padding-right: 10px;
}

div.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1px;
}

div.text-center.card{
    padding-bottom: 10px;
}